@import "./base.css";

* {
  font-family: "Rubik", sans-serif;
}

.titleSpecific {
  border-left: 0.5vh solid #feca05;
  padding: 3.6vh;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.6rem;
}

#app {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  padding-top: 70px;
  padding-bottom: -70px;
  position: relative;
  font-weight: normal;
  /* overflow-x: hidden; */
}

#app {
  background: linear-gradient(0deg, rgba(0, 3, 74, 0.2), rgba(0, 3, 74, 0.2)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), #294252;
}

main {
  padding: 0 2rem 4rem 2rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
.white {
  color: hsla(0, 0%, 100%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 36%, 0.11);
    transition: 0.4s;
    border-radius: 5%;
  }
}

ul .n-dot {
  list-style-type: none;
}

@media (min-width: 1440px) {
  body {
    place-items: center;
  }
}
@media (min-width: 1024px) {
  body {
    place-items: center;
  }
}
@media (min-width: 768px) {
  body {
    place-items: center;
  }
}
@media (min-width: 465px) {
  body {
    place-items: center;
  }
}
